body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Noto Sans TC", sans-serif;
}


.jumbotron {
    background-color: #F5F5F5;
    font-family:'Rokkitt', serif;
    color: #C7B691;
    margin-top: 0px; 
    margin-bottom: 0px;
}

a{
    color: #C7B691;
}
a:hover{
    color: #A39C8C;
}

img.index_img{
    width: 100%;
    height: 450px;
}

h2, h4, p{
        font-family:'Rokkitt', serif;
        color: #A39C8C;
        font-size: 18px;
}

img.map{
    width: 100%;
    height: 380px;
}